{% include "hexcasting:index.css.jinja" %}

blockquote > h2 {
  font-size: 26px;
}

/* yoink the gloopcipe styles so we don't turn the rest of the book gloopy */

.gloopcipe-recipe{
  position: relative;
}

.gloopcipe-recipe-ingredient .badge{
  position: absolute;
  background-color: #292929;
  bottom: -4px;
  right: -4px;
}

.gloopcipe-recipe-result .badge{
  position: absolute;
  background-color: #292929;
  bottom: -4px;
  right: -4px;
}

.gloopcipe-recipe-ingredient-1{
  position: absolute;
  left: 24px;
  top: 70px;
}
.gloopcipe-recipe-ingredient-3{
  position: absolute;
  left: 62px;
  top: 70px;
}
.gloopcipe-recipe-ingredient-2{
  position: absolute;
  left: 100px;
  top: 70px;
}

.gloopcipe-recipe-ingredient-6{
  position: absolute;
  left: 24px;
  top: 32px;
}
.gloopcipe-recipe-ingredient-5{
  position: absolute;
  left: 62px;
  top: 32px;
}
.gloopcipe-recipe-ingredient-7{
  position: absolute;
  left: 100px;
  top: 32px;
}

.gloopcipe-recipe-ingredient-8{
  position: absolute;
  left: 24px;
  top: 108px;
}
.gloopcipe-recipe-ingredient-4{
  position: absolute;
  left: 62px;
  top: 108px;
}
.gloopcipe-recipe-ingredient-9{
  position: absolute;
  left: 100px;
  top: 108px;
}

.gloopcipe-recipe-result{
  position: absolute;
  left: 168px;
  top: 98px;
}

.gloopcipe-recipe-media-cost{
  color: var(--light-amethyst);
}
